{
    "adax": {
        "user":"",
        "pass":""
    },
    "tuya": {
        "accessKey": "",
        "secretKey": ""
    },
    "ewelink": {
        "email": "",
        "password": ""
    },
    "bbt": {
        "iam_token": "iamtkn_"
    }
}